{# templates/react/contact.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
    <h1>Contactez-nous (avec React)</h1>

    <div id="react-form"></div>
{% endblock %}