<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block title %}New SousTheme{% endblock %}
=======
<!DOCTYPE html>

<title>New SousTheme</title>
>>>>>>> 0a4f66fcd1727f58be6797457efa227fc918a899

{% block body %}
    <h1>Create new SousTheme</h1>

    {{ include('sous_theme/_form.html.twig') }}

    <a href="{{ path('app_sous_theme_index') }}">back to list</a>
{% endblock %}
