{% extends 'base.html.twig' %}

{% block title %}New SousTheme{% endblock %}

{% block body %}
    <h1>Create new SousTheme</h1>

    {{ include('sous_theme/_form.html.twig') }}

    <a href="{{ path('app_sous_theme_index') }}">back to list</a>
{% endblock %}
